<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens Node js</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body style="margin: 0; padding:0;box-sizing:border-box;">
    <header>
        <nav style="border: 1px solid;display:flex; justify-content:center; align-items:center; background-color:black">
            <ul style="display: flex; border: 1px solid; width: 20%; justify-content:space-around; list-style: none;">
                <li><a style="text-decoration: none; color: #ffffff" href="/">HOME</a></li>
                <li><a style="text-decoration: none;  color: #ffffff" href="/cadastrar">CADASTRAR POSTAGEM</a></li> 
            </ul>
        </nav>
    </header>
    {{{body}}}
    <footer style="border: 1px solid; background-color:black">
        <p style="color: #ffffff; display:flex; align-items:center; justify-content:center;">Desenvolvido por Evandro Barros</p>
    </footer>
</body>
</html>